.highlight {
    background-color: yellow;
    font-weight: bold;
  }

  .swatch {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: block !important;
  }